*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 133px;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6 , #9b59b6);
}
.container{
    max-width: 700px;
    width: 100%;
    background-color: red;
    padding: 25px 30px;
    border-radius: 5px;
}
form{
    flex-wrap: wrap;
    justify-content: space-between;
    display: inline;
}
form{
    width: calc(100% / 2 -20px);
    margin: 20px 0px 12px 0px;
}
.name{
    text-align: center;
    margin-bottom: 5%;
}
input[type=text],input[type=email],input[type=password],
select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px    solid #ccc;
    box-sizing: border-box;
  }
button{
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 26px;
        border: none;
        cursor: pointer;
        width: 50%;
  }
  .gender{
      margin: 10px;
  }
  