*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}
body{
  font-family: montserrat;
}
nav{
  background: linear-gradient(135deg, #71b7e6 , #9b59b6);
  height: 80px;
  width: 100%;
  position: fixed;
}
.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
ul{
  float: right;
  margin-right: 20px;
}
li{
  display: inline-block;
  line-height: 80px;
  margin: 0 12px;
}
a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 15px;
  border-radius: 5px;
}
a.active , a:hover{
  background-color:#9b59b6 ;
  transition: .5s;
}
.img1 {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
h1{
  text-align: center;
  padding-top: 10%;
  text-transform: uppercase;
}
.img2 {
  float: left;
}
h2{
  text-align: center;
  align-items: center;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media(max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media(max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6 , #9b59b6);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover , a.active{
    background: none;
    color:#9b59b6 ;

  }
  #check:checked ~ ul{
    left: 0;
    ;
  } 
}