*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  
  }
  body{
    font-family: montserrat;
  }
  nav{
    background: linear-gradient(135deg, #71b7e6 , #9b59b6);
    height: 80px;
    width: 100%;
    position: fixed;
  }
  .logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  ul{
    float: right;
    margin-right: 20px;
  }
  li{
    display: inline-block;
    line-height: 80px;
    margin: 0 12px;
  }
  .tefa{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 5px;
  }
  .tefa.active , .tefa:hover{
    background-color:#9b59b6 ;
    transition: .5s;
  }

  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }


  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media(max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li .tefa{
      font-size: 16px;
    }
  }
  @media(max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: linear-gradient(135deg, #71b7e6 , #9b59b6);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px;
      line-height: 30px;
    }
    nav ul li .tefa{
      font-size: 20px;
    }
    .tefa:hover , .tefa.active{
      background: none;
      color:#9b59b6 ;
  
    }
    #check:checked ~ ul{
      left: 0;
    } 
  }